*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* ================================================================= */

body {
    font-family: "Open Sans", "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    background-color: #000000;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1330px;
    margin: 0px auto;
    padding: 0px 15px;
}

.title {
    margin-bottom: 50px;
    font-size: 52px;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #02032f;
}

.button {
    display: inline-block;
    border-radius: 50px;
    background-color: #ffd223;
    line-height: 1;
    font-size: 18px;
    font-weight: 800;
    padding: 22px 32px 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    opacity: 0.5;
}

.button:hover {
    /* background-color: #000000; */
    transition: 0.3s;
    opacity: 1;
}

/* ================================================================= */

.content__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}