*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

/* ================================================================= */

body {
  font-family: "Open Sans", "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  background-color: #000000;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1330px;
  margin: 0px auto;
  padding: 0px 15px;
}

.title {
  font-size: 28px;
  padding: 16px;
  margin-bottom: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #ffd223;
}

/* ===============================comments============================================ */

.spam__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.spam__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin: 10px 0 30px 0;
  border: solid 2px #ffd223;
  border-radius: 15px;
  width: 400px;
  min-height: 400px;
  padding: 20px;
  line-height: 250%;
  color: #dddee0;
}

.spam__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  color: #ffd223;
}

.spam__block-comments {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  width: 100%;
  background-color: #5854544d;
  border-radius: 15px;
  padding: 10px 0;
  overflow: auto;
}

.comment-block-label {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.spam__comments {
  height: 70px;
  width: 330px;
  color: #ffd223;
  background-color: #585454a7;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;
}

.spam__comments:focus {
  outline: none;
  border: 1px solid #ffd223;
  box-shadow: 0 0 10px #ffd223;
}

.spam__button {
  display: inline-block;
  border-radius: 50px;
  background-color: #ffd223;
  border-radius: 10px;
  line-height: 1;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 22px 14px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  opacity: 0.4;
}

.spam__button:hover {
  transition: 0.3s;
  opacity: 1;
}

.item-comment {
  background-color: #5854544a;
  border-radius: 10px;
  padding: 6px;
  margin: 8px 20px;
}

.item-text {
  padding: 0 10px;
  font-size: 16px;
  line-height: 180%;
  overflow: hidden;
}

.item-comment:first-child {
  background-color: #4d687f66;
}