*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* ================================================================= */

body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #ecedf3;
    background-color: #1f2029;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 15px;
}

.title {
    font-size: 32px;
    margin: 20px 0 40px;
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #ffd223;
}

.button {
    display: inline-block;
    border-radius: 50px;
    background-color: #ffd223;
    border-radius: 10px;
    font-size: 20px;
    padding: 16px 22px 14px;
    line-height: 1;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    opacity: 0.4;
}

.button:hover {
    transition: 0.3s;
    opacity: 1;
}

a {
    color: rgb(255, 0, 132);
}

a:visited {
    color: #cecece;
}

/* ===============================Опрос владельцев кошек============================================ */

.survey__container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ffd223;
    font-size: 16px;
}

.survey__form-group {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.survey__form-control {
    height: 30px;
    width: 250px;
    color: #ffd223;
    background-color: #585454;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    margin: 5px 20px;
}

.survey__form-control:focus {
    outline: none;
    border: 1px solid #ffd223;
    box-shadow: 0 0 10px #ffd223;
}

.survey__form-select {
    height: 30px;
    width: 250px;
    color: #ffd223;
    background-color: #585454;
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 16px;
    margin: 10px 20px;
}

.survey__form-select:focus {
    outline: none;
    border: 1px solid #ffd223;
    box-shadow: 0 0 10px #ffd223;
}

.survey__container fieldset {
    border: solid 3px #ffd223;
    margin-bottom: 10px;
}

.survey__form-group_col {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
}

.survey__form-checkbox {
    margin: 10px 15px;
}

.survey__form-group input {
    margin: 10px 5px 10px 15px;
}

.survey__form-group_col textarea {
    background-color: #585454;
    border-radius: 10px;
    margin: 15px 0 0 0;
    padding: 10px;
    color: #ffd223;
}

.survey__form-group_col textarea:focus {
    outline: none;
    border: 1px solid #ffd223;
    box-shadow: 0 0 10px #ffd223;
}

.survey__form-file {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.input__file-icon-wrapper {
    height: 25px;
    width: 40px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid rgb(8, 8, 8);
    font-size: 16px;
}

.survey__file-button:hover {
    transition: 0.3s;
    opacity: 1;
}

.survey__file-button {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #ffd223;
    border-radius: 10px;
    padding: 14px 18px 12px;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    opacity: 0.4;
}

.survey__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.survey__input-file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.survey__btn {
    padding: 14px 18px 12px;
    font-size: 16px;
}

.survey__container input:required:valid {
    border: 2px solid green;
    box-shadow: 0 0 10px green;
}